body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#todo-container {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

#todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #eee;
    transition: background-color 0.3s;
}

.todo-item:hover {
    background-color: #f0f0f0;
}

.todo-item input {
    margin-right: 10px;
}

.completed {
    text-decoration: line-through;
    color: #999;
}

#addTodoInput {
    width: calc(100% - 20px);
    padding: 8px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 20px;
}

#addTodoBtn {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#addTodoBtn:hover {
    background-color: #45a049;
}

button {
    cursor: pointer;
    padding: 8px;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

button:hover {
    background-color: #ddd;
}

/* Additional styling for edit button */
.edit-btn {
    background-color: #3498db;
    color: #fff;
}

.edit-btn:hover {
    background-color: #2980b9;
}